[user]
	name = Casey Webb
	email = notcaseywebb@gmail.com
[core]
	editor = nano
[difftool]
	prompt = false
[alias]
	lg = ! git log --oneline --graph --color | less
	wip = ! git add -A && git commit -m \":construction: WIP\"
	rb  = "! _rebase() { git checkout $1 && git pull --rebase && git checkout - && git rebase -i $1; }; _rebase"
	br = "! _branch() { git checkout $1 && git pull --rebase && git checkout -b $2; }; _branch"
