"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cf3965e0-8927-45b9-aeaf-744622a4cc38"
  "autocomplete-modules": {}
  core:
    disabledPackages: [
      "tabs"
      "about"
      "archive-view"
      "autocomplete-atom-api"
      "autosave"
      "image-view"
      "language-c"
      "language-clojure"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby-on-rails"
      "update-package-dependencies"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "5491ada5-b120-affa-2561-b1d82aaffa58"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "right"
  "fuzzy-finder": {}
  jumpy: {}
  linter: {}
  "linter-eslint":
    eslintrcPath: "/Users/caseywebb/.eslintrc"
    fixOnSave: true
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.ts"
    ]
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    showPanel: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
