"*":
  "atom-beautify":
    general:
      _analyticsUserId: "cf3965e0-8927-45b9-aeaf-744622a4cc38"
  core:
    disabledPackages: [
      "tabs"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 12
    showInvisibles: true
  "exception-reporting":
    userId: "5491ada5-b120-affa-2561-b1d82aaffa58"
  jumpy: {}
  linter: {}
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "/Users/caseywebb/.eslintrc"
    lintHtmlFiles: true
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "one-dark-ui": {}
  tabs:
    alwaysShowTabBar: false
  "tree-view": {}
  welcome:
    showOnStartup: false
